body {
  max-width: 1200px;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

ul li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

#nav-link {
  text-decoration: none;
  color: whitesmoke;
}
/* creating navbar layout */
#link-wrapper {
  display: inline-block;
  justify-content: center;
  height: auto;
  text-align: center;
}
#nav-wrapper {
  text-align: center;
  margin: 0px;
  padding: 0px;
  background-color: rgb(26, 111, 240);
  border-radius: 1%;
  gap: 1.5rem;
}

/* applying some hover animations */

#link-wrapper:hover {
  background-color: white;
}

#nav-link:hover {
  color: black;
}

/* Logo image */

@media screen and (max-width: 500px) {
  #logo-container {
    width: 300px;
    height: 200px;
  }
}

/* Services page layout */

#services-container {
  font-size: 1rem;
  font-weight: 600;
  background-color: rgba(35, 101, 241, 0.308);
  border-radius: 1%;
  padding: 10px;
}

#services-container ul li {
  list-style: disc;
  margin-bottom: 20px;
}

/* About PICCs Plus layout*/

#about-us-container {
  background-color: rgba(226, 226, 226, 0.377);
  border-radius: 1%;
  font-size: 1rem;
  margin: 0px;
  padding-top: 15px;
}

/* Why choose us page layout starting with bg color*/

#bg-color-container>div:nth-child(odd) {
background-color: rgba(35, 101, 241, 0.308);
}

#bg-color-container>div:nth-child(even) {
  background-color: rgba(226, 226, 226, 0.377);
}

#bg-color-container {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

/* footer container */

#footer-container {
  margin: 0px;
  padding: 0px;
  font-size: .9rem;
}

#footer-container p a {
  font-style: none;
  color: white;
}